header {
    position: relative;

    display: flex;
    justify-content: space-between;

    background-color: var(--background-color);
    height: 56px;

    padding: 8px 16px;
}

header>* {
    display: flex;
    align-items: center;
}

header .inicio {
    display: flex;
    gap: 16px;

    min-width: 12%;
}

header .inicio input[type="checkbox"] {
    display: none;
}

header :where(.inicio, .menu .inicio) .menu-button {
    background-color: var(--background-color);

    padding: 8px;

    border: none;
    border-radius: 40px;
}

header :where(.inicio, .menu .inicio) .menu-button:hover,
header :where(.inicio, .menu .inicio) .menu-button:focus {
    background-color: var(--selected-button-background-color);
}

header :where(.inicio, .menu .inicio) .logotipo {
    display: flex;
    align-items: center;

    font-size: 1.25rem;
    font-weight: bold;
}

header :where(.inicio, .menu .inicio) .logotipo-icone {
    font-size: 1.75rem;
    color: red;
}

header :where(.inicio, .menu .inicio) .logotipo-nome {
    transform: translateY(2px);
    letter-spacing: -1.2px;
}

header :where(.inicio, .menu .inicio) .logotipo-pais {
    align-self: flex-start;

    font-size: 10px;
    font-weight: 400;

    color: var(--dark-text-color);
}

header .centro {
    width: calc(58% + 32px);

    padding-left: 32px;
}

header .centro .search {
    display: flex;

    height: 40px;
    width: 100%;
}

header .centro .search-input {
    font-size: 1rem;

    width: calc(100% - 120px);

    padding: 0px 16px;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right: none;

    outline: none;
    transition: border 125ms;
}

header .centro .search-button {
    background-color: var(--selected-button-background-color);
    width: 64px;

    border: solid 1px var(--border-color);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

header .centro .search-microphone {
    width: 45px;

    border-radius: 40px;

    margin-left: 1rem;
}

header .final {
    display: flex;
    gap: 1rem;

    max-width: 15%;
}

header .final .create-button {
    display: flex;
    align-items: center;

    height: 100%;

    padding: 0 16px;

    border-radius: 40px;
}

header .final .create-button .icon {
    margin-right: 6px;
}

header .final .create-button .text {
    font-weight: bold;
}

header .final .notification-button {
    position: relative;

    background-color: var(--background-color);
    width: 32px;
    height: 32px;

    border: none;
    border-radius: 40px;

    outline: none;
}

header .final .notification-button:hover,
header .final .notification-button:focus {
    background-color: var(--selected-button-background-color);
}

header .final .notification-button .icon {
    font-size: 1.5rem;
}

header .final .notification-button .amount {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-75%);

    font-size: 12px;

    background-color: var(--red-color);
    color: var(--text-color);
    height: 16px;
    width: min-content;
    text-align: center;
    line-height: 16px;

    padding: 0 4px;

    border-radius: 22px;
}

header .final .profile-button {
    flex-shrink: 0;
    
    background-color: var(--background-color);
    width: 32px;
    height: 32px;

    border: solid 1px var(--button-background-color);
    border-radius: 40px;

    outline: none;
}

header .final .profile-button:hover,
header .final .profile-button:focus {
    background-color: var(--selected-button-background-color);
}

header .final .profile-button:focus {
    border-color: var(--focus-border-color);
}

header .final .profile-button .icon {
    display: none;
    font-size: 1.5rem;
}

header .final .profile-button img {
    width: 100%;

    border-radius: inherit;
}

header .menu {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    background-color: var(--background-color);

    height: 100vh;
    width: 240px;

    z-index: 1;
}

header .menu .inicio {
    padding: 8px 16px;
}

header .menu .centro {
    width: 100%;
    padding: 0;

    overflow-y: auto;
}

header .menu .centro nav {
    width: 100%;
}

header .menu .centro nav h3 {
    font-size: 1rem;
    font-weight: 500;

    height: 32px;

    padding: 6px 12px 4px;
}

header .menu .centro ul {
    list-style: none;
    padding: 12px;
}

header .menu .centro ul a {
    display: flex;
    align-items: center;
    gap: 24px;

    height: 40px;
    color: var(--black-color);
    text-decoration: none;

    padding: 0 12px;

    border-radius: 10px;
}

header .menu .centro ul a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

header .menu .centro hr {
    background-color: rgba(0,0,0,0.2);
    height: 1px;
    border: none;
}


header .menu-contrast {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    backdrop-filter: brightness(0.5);
    width: 100vw;
    height: 100vh;

    z-index: 0;
}

header:has(.inicio input[type="checkbox"]:checked) .menu-contrast {
    display: block;
}

header:has(.inicio input[type="checkbox"]:checked) .menu {
    display: block;

    animation: menu-fade-in 0.25s ease forwards;
}

@keyframes menu-fade-in {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}